<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

üí´ `immutable` => `can't be changed` <br>
üí´ `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‚Äòa‚Äô, print the value of a and type(a).

In [4]:
# create empty list, name it 'a'
a = []

In [5]:
# print the value of a

print(a)

[]

In [6]:
# print the type of a
type(a)

list

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [7]:
languages = ['R','Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [8]:
len(languages)

5

Using for loop iterate and print all the elements in the list

In [9]:
for each in languages:
    print(each)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [10]:
temp = languages[1]

Print the value of temp and type(temp)

In [11]:

print(temp)
print(type(temp))

Python
<class 'str'>

Append the element 'Java' in the list

In [12]:

languages.append("Java")

Remove the element 42 from the list and print the list

In [13]:

# print(languages)
languages.remove(42)
print(languages)

['R', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‚ÄòRed‚Äô, ‚ÄòBlue‚Äô, ‚ÄòWhite‚Äô]

In [14]:
colors = ['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [15]:
colors.append("Black")

Append the color 'Orange' to second position (index=1) and print the list

In [16]:
colors.insert(1, 'Orange')
# print(colors)

Print the list

In [17]:
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‚ÄòGrey‚Äô, ‚ÄòSky Blue‚Äô]

In [18]:
colors2 = ['Grey', 'Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [19]:
colors.extend(colors2)

Print len of colors and its elements

In [20]:
len(colors)
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Sort the list and print it.

In [21]:
colors.sort()
print(colors)

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

### Create a string, sent = ‚ÄòCoronavirus Caused Lockdowns Around The World.‚Äù

In [22]:
sent = "Coronavirus Caused Lockdowns Around The World."

Use split function to convert the string into a list of words and save it in variable words and print the same

In [28]:
words = sent.split(" ")
print(words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [29]:

words_lower = [each.lower() for each in words ]
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‚Äòcountry‚Äô is in the list

In [32]:
if "country" in words_lower: 
    print("Yes")
else:
    print("No")

No

Remove the element ‚Äòthe‚Äô from the list and print the list.

In [33]:
words_lower.remove("the")
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [34]:
x4 = words_lower[:4]

In [35]:
# print x4
print(x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [42]:
new = " ".join(x4)
print(new)

coronavirus caused lockdowns around

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [43]:
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [44]:

print(len(stud_grades))

6

Create a new variable, stud_grades_set = set(stud_grades)

In [45]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [47]:

print(stud_grades_set)

{'F', 'A', 'C', 'B'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [48]:
print(type(stud_grades))
print(type(stud_grades_set))

<class 'list'>
<class 'set'>

Add a new element ‚ÄòG‚Äô to stud_grades_set

In [49]:
stud_grades_set.add('G')

Add element 'F' to stud_grades_set. and print it.

In [51]:
stud_grades_set.add('F')
print(stud_grades_set)

{'A', 'F', 'G', 'C', 'B'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‚ÄòF‚Äô from stud_grades_set

In [52]:
stud_grades_set.remove('F')

Print the elements and the length of stud_grades_set

In [53]:
print(stud_grades_set)
print(len(stud_grades_set))

{'A', 'G', 'C', 'B'}
4

### Create colors = [‚Äòred‚Äô,‚Äôblue‚Äô,‚Äôorange‚Äô], and fruits = [‚Äòorange‚Äô,‚Äôgrapes‚Äô,‚Äôapples‚Äô]

In [54]:
colors = ["red", "blue", "orange"]
fruits = ["orange", "grapes", "apples"]

Print color and fruits

In [55]:

print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [56]:
colors_set = set(colors)
fruits_set = set(fruits)
print(colors_set)
print(fruits_set)

{'orange', 'blue', 'red'}
{'grapes', 'orange', 'apples'}

Find the union of both the sets.

In [58]:
print(fruits_set.union(colors_set))

{'orange', 'blue', 'red', 'grapes', 'apples'}

Find the intersection of both the sets

In [59]:
print(fruits_set.intersection(colors_set))

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [60]:
print(fruits_set.difference(colors_set))

{'grapes', 'apples'}

## TUPLES

### Create temp = [17, ‚ÄôVirat‚Äô, 50.0]

In [61]:
temp = [17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [62]:
for each in temp:
    print(each)

17
Virat
50.0

replace first element with 11 in temp

In [63]:
temp[0] = 11

Set temp1 = tuple(temp)

In [64]:
temp1 = tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [65]:
for each in temp1:
    print(each)

11
Virat
50.0

replace first element with 17 in temp1

In [67]:
# temp1[0] = 17

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [69]:
city = ("Bangalore", 28.9949521, 72)

Print first element of city

In [70]:
print(city[0])

Bangalore

Create city2 = (‚ÄòChennai‚Äô, 30.01, 74)

In [71]:
city2 = ("Chennai", 30.01, 74)

Create cities which consist of city and city2

In [72]:
cities = (city, city2)

Print cities

In [73]:
print(cities)

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [74]:
print(type(cities[0]))

<class 'tuple'>

print the type of cities

In [75]:
print(type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [76]:
d = {"actor": "amir","animal":"cat","earth":2,"list":[23,32,12] }

Print the value of d[0]

In [78]:
# print(d[0])

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‚Äòactor‚Äô] to a new variable actor.

In [79]:
actor = d["actor"]

Print the type of actor

In [80]:
print(type(actor))

<class 'str'>

Store the value of d[‚Äòlist‚Äô] in new variable List.

In [81]:
List = d["list"]

Print the type of List.

In [82]:
print(type(List))

<class 'list'>

Create d1 = { ‚Äòsinger‚Äô : ‚ÄòKr$na‚Äô , ‚Äòalbum‚Äô: ‚ÄòStill here‚Äô, ‚Äògenre‚Äô : ‚Äòhip-hop‚Äô}

In [83]:
d1 = {"singer": "Kr$na", "album": "Still here", "genre": "hip-hop"}

Merge d1 into d.

In [87]:
d.update(d1)

print d

In [88]:
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [89]:
print(d.keys())

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [90]:
print(d.values())

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [99]:
for key, value in d.items():
    print(f"{key}  ----> {value}")

# yay! finally got this!
# learned: f"{}"  ------->   f"{}...{}"
#          d.items()

actor  ----> amir
animal  ----> cat
earth  ----> 2
list  ----> [23, 32, 12]
singer  ----> Kr$na
album  ----> Still here
genre  ----> hip-hop

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [119]:
# print(d.items())
# # print(type(d.items())) #<class 'dict_items'>
# print(d.values())
# print(d.keys())
# print(d.pop("earth")) #only keys like : 'animal', 'earth', 'list', 'singer', 'album'
# print(d.popitem())  # removes and returns the last key-value pair   ---- ('genre', 'hip-hop')

count = {}
s = "sent"
for char in s:
    if char in count:
         count[char] += 1
    else:
         count[char] = 1
print(count)

{'s': 1, 'e': 1, 'n': 1, 't': 1}